.form-group {
	display: flex;
	flex-direction: column;
  }
  
  label {
	font-weight: bold;
  }
  
  .textarea-container {
	display: flex;
	align-items: center;
  }
  
  textarea {
	padding: 10px;
	border: 5px solid #ccc;
	border-radius: 5px;
  }